.layui-footer {
    text-align: center;
    font-size: 14px;
}

.iconfont {
    margin-right: 8px;
}

.layui-icon {
    margin-right: 8px;
    margin-left: 25px;
}

.layui-side-scroll {
    width: 200px;
}

.userinfo {
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.layui-side-scroll .userinfo {
    border-bottom: 1px solid #000;
}

.text-avatar {
    display: inline-block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    background-color: #009688;
    font-size: 20px;
    text-align: center;
    color: #fff;
    margin-right: 10px;
    vertical-align: middle;
}

a {
    transition: none!important;
}

.layui-body {
    overflow: hidden;
}

iframe {
    width: 100%;
    height: 100%;
}